{% extends "base.html" %}



{% block title %}Search clock history{% endblock %}

{% block css %}

.results {
	margin-top: 40px
}

{% endblock %}

{% block navbar %}
{% include "employee-navbar.html" %}
{% endblock %}

{% block content %}


    <div class="container">

      <form class="form-date-search" method="post" action="{% url 'employee-clock-report' %}">
        <h2 class="form-signin-heading">Report Dates</h2>
		{% csrf_token %}
		{{ form }}
		<br>
        <button class="btn btn-lg btn-default btn-block" type="submit"><i class="fa fa-table fa-5x"></i>
</button>
      </form>
	  
	  

    </div> <!-- /container -->



{% endblock %}