{% extends "base.html" %}
{% block title %} Clocks by week{% endblock %}
{% block content %}

<h1>Week {{ week|date:'W' }}</h1>

<ul>
    {% for clock in object_list %}
        <li>{{ article.date_created|date:"F j, Y" }}: {{ article.timestamp }}</li>
    {% endfor %}
</ul>

<p>
    {% if previous_week %}
        Previous Week: {{ previous_week|date:"F Y" }}
    {% endif %}
    {% if previous_week and next_week %}--{% endif %}
    {% if next_week %}
        Next week: {{ next_week|date:"F Y" }}
    {% endif %}
</p>
{% endblock %}