{% extends "base.html" %}
{% block title %}Clock{% endblock %}

{% block navbar %}
{% include "employee-navbar.html" %}
{% endblock %}

{% block content %}
    <div class="container">

      <form class="form-signin" method="post" action="{% url 'employee-clock-view' %}">
		{% csrf_token %}
        <h2 class="form-signin-heading">Clock</h2>
        <button class="btn btn-lg btn-default btn-block" type="submit"><i class="fa fa-clock-o fa-5x"></i></button>
      </form>

    </div> <!-- /container -->
{% endblock %}
